/*	   typography   	*/

$body-font: 'montserrat', arial, helvetica, sans-serif;
$raleway-font: 'raleway', arial, helvetica, sans-serif;
$roboto-font: 'roboto', arial, helvetica, sans-serif;

$fs-body: 16px;
$lh-body: 1.75;

$fs-h1: 52px;
$fs-h2: 30px;
$fs-h3: 22px;

/*	   end  typography   	*/


/*	   color   	*/

$body-color: #8c8c8c;
$link-color: #c7b299;
$menu-color: #fff;
$white-color: #fff;
$grey-color: #555;
$grey-color2: #d1d1d1;
$grey-color3: #959595;
$time-color: #363636;
$twit-color: #00bff3;
$toogle-color: #fff;
$placeholder-color: #9b9b9b;

/*	   end  color   	*/


/*	   background   	*/

$body-bg: #fff;
$button-bg: #998675;
$grey-bg: #fbfaf8;
$brown-bg: #362f2d;
$day-bg: #363636;
$day-hover-bg: #c7b299;
$month-bg: #252525;
$month-hover-bg: #a48d72;
$footer-bg: #191919;
$down-bg: #111;
$overlay-bg: rgba(0,0,0,0.6);
$toogle-bg: #000;
$menu-bg: #998675;

/*	   end  background   	*/